
.RodapeContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 4, 38);
    width: 100vw;  
   /* position: absolute;
   bottom:0; */
    padding: 10px 10px;
}

.rodapeTexto {
    color: yellow;
}

:hover.rodapeTexto {
    color: orange;
}


    